.input {
    padding: 12px 20px 12px 15px;
    border-radius: 8px;
    border: 1px solid rgb(110, 98, 82);
    outline: none;
    background-color: rgb(242, 230, 216);
    font-family: 'Kalam', cursive;
    font-size: 15px;

        &:focus {
            box-shadow: 0px 0px 5px 1px rgb(110, 98, 82);
            transition: box-shadow 0.2s;
        }

        &:placeholder {
            color: rgb(110, 98, 82);
        }
}