@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
}